.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-style: solid;
  width: 85%;
  margin: auto;
}

.logo-name {
  font-size: 15px;
  font-family: 'Roboto';
  margin: 0px;
  font-weight: 700;
}

.page-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style-type: none;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .logo-name {
    font-size: 25px;
  }
  .page-links {
    gap: 20px;
  }
}

.nav-link {
  text-decoration: none;
  color: #000000;
}
